<div class="test">

    <div class="row">
        <p class="heading1"> House of Hope </p>
    <p class="about1">“Libraries store the energy that fuels the imagination. They open up windows to the world and inspire us to explore and achieve and contribute to improving our quality of life.</p>
   <div class="test">
    <div class="column1">
    
    <img src="assets/book1.jpg" alt="" class="img1">
    <p class="bhead">AADUJEEVITHAM</p>
    <p class="babout">Goat Days is a 2008 Malayalam-language novel by Indian author Benyamin.</p>
    
    
    </div>
    <div class="column">
    
        <img src="assets/book2.jpg" alt="" class="img1">
        <p class="bhead">VIDARENDA POOMOTTUKAL</p>
    <p class="babout">Malayalam version of 'You are Born to Blossom' written by A P J Abdul Kalam.</p>
    
        
        </div>
        <div class="column">
    
            <img src="assets/book3.jpg" alt="" class="img1">
            <p class="bhead">RANDAMOOZHAM</p>
            <p class="babout">Malayalam-language mythological drama novel written by the Indian author M. T. Vasudevan Nair</p>
            
            </div>
    </div>
</div>
</div>
